<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/planet.css">
</head>
<body>
    <div class="outerDiv">
        <div class="heading">THE PLANETS</div>
        <div class="planetsName">
            <div class="planet" id="mercury">
                <a href="planet?planetName=Mercury">MERCURY</a></div>
            <div class="planet" id="venus">
                <a href="planet?planetName=Venus">VENUS</a></div>
            <div class="planet" id="earth">
                <a href="planet?planetName=Earth">EARTH</a></div>
            <div class="planet" id="mars">
                <a href="planet?planetName=Mars">MARS</a></div>
            <div class="planet" id="jupiter">
                <a href="planet?planetName=Jupiter">JUPITER</a></div>
            <div class="planet" id="saturn">
                <a href="planet?planetName=Saturn">SATURN</a></div>
            <div class="planet" id="uranus">
                <a href="planet?planetName=Uranus">URANUS</a></div>
            <div class="planet" id="neptune">
                <a href="planet?planetName=Neptune">NEPTUNE</a></div>
        </div>
    </div>
    <!-- <script src="planetDetils.js"></script> -->
</body>
</html>